



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: darkgray;
  }
  
  .topnav a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: darkgray;
    color: white;
  }
  
  .section{
    min-height: 100vh;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: lightgray;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .mainarea {
    margin: 20px;
    padding: 10px;
    left: 20%;
    width: 80%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: darkgray;
  }
  
  .topnav a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: darkgray;
    color: white;
  }
  
  .section{
    min-height: 100vh;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: lightgray;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .mainarea {
    margin: 20px;
    padding: 10px;
    left: 20%;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: darkgray;
  }
  
  .topnav a {
    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: darkgray;
    color: white;
  }
  
  .section{
    min-height: 100vh;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: lightgray;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .mainarea {
    margin: 20px;
    padding: 10px;
    left: 20%;
    width: 80%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
    padding: 20px;
    margin: 25%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #2d344e;
  }

  .topnav .brand {
    color: White;
    font-weight: 500;
  }
  
  .topnav a {
    
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav span{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    align-items: flex-end;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: lightgray;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: #2d344e;
    color: white;
  }
  
  .section{
    min-height: 100vh;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2d344e;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: lightgray;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .mainarea {
    margin: 20px;
    padding: 10px;
    left: 20%;
    width: 80%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main {
    padding: 20px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: darkgray;
  }
  
  .topnav a {
    
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: right;
    background-color: darkgray;
    color: white;
  }
  
  .section{
    min-height: 100vh;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: lightgray;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .mainarea {
    margin: 20px;
    padding: 10px;
    left: 20%;
    width: 80%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
}