body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: darkgray;
}

.topnav a {
  
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: darkgray;
  color: white;
}
